<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col id="learning" size="12">
        <div class="flag">
          <img src="../../assets/img/logo.png" alt="">
        </div>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-input type="email" placeholder="Entre com seu email">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-input type="password" placeholder="Entre com sua senha">
          </ion-input>
        </ion-item>
      </ion-col>


      <ion-col size="12">
        <ion-button expand="full" color="tertiary">
          Login
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>