#blocote {
    ion-grid {
        
        background: whitesmoke;
        border-radius: 30px;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 80vh;
        height: auto;
      

        #learning {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .last-column {
            margin-bottom: 20px;
        }
    }
}

.author {
    color: white;
    font-weight: bold;
    text-align: center;
}
