<ion-content [fullscreen]="true" class="ion-padding">

  <ion-list>
    <ion-list-header>
      <strong>
        <h1>
          <ion-icon name="trophy"></ion-icon>
          Ranking de pontução
        </h1>
      </strong>
    </ion-list-header>

    <ng-container *ngIf="ranking && ranking.length > 0">
      <ion-item *ngFor="let user of ranking; index as i" >
        <ion-avatar slot="start">
          <img [src]="user.avatar">
          {{i + 1}} º 
        </ion-avatar>
        <ion-label>
          <h1>{{user.name}}</h1>
          <h2>Level: {{user.level}}</h2>
          <h2>Score: {{user.total_score}}</h2>
        </ion-label>
      </ion-item>
   
    </ng-container>

  </ion-list>

</ion-content>