<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid  id="main">
    <ion-row id="top-row">
      <ion-col size="12" id="avatar">
        <img [src]="avatar" alt="">
        <h6><strong>Aluno:</strong><br />
          {{name}} </h6>
      </ion-col>
    </ion-row>

    <ion-row id="datas-row">
      <ion-col size="5">
        <h6><strong>
            <ion-icon name="star"></ion-icon>
            Score:
          </strong><br> {{score}}</h6>
      </ion-col>

      <ion-col size="5">
        <h6><strong>
            <ion-icon name="medal"></ion-icon>
            Level:
          </strong><br> {{level}}</h6>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid id="main2">
    <ion-row>
      <ion-col id="learning" size="12">
        <div class="flag">
          <img src="../../assets/flags/united-states-of-america.png" alt="">
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="full" [disabled]="!currntQuestion" (click)="hear()">
          Ouvir
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="full" color="tertiary"[disabled]="!currntQuestion" (click)="speak()">
          Pronunciar
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <p class="current">{{currntQuestion}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>