<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid>
    <ion-row id="top-row">
      <ion-col size="12" id="avatar">
        <img src="../../assets/img/default-avatar-1.png" alt="">
        <h6><strong>Aluno:</strong><br />
          Juliano </h6>
      </ion-col>
    </ion-row>

    <ion-row id="datas-row">
      <ion-col size="5">
        <h6><strong>
            <ion-icon name="star"></ion-icon>
            Score:
          </strong><br> 3624</h6>
      </ion-col>

      <ion-col size="5">
        <h6><strong>
            <ion-icon name="medal"></ion-icon>
            Level:
          </strong><br> 3624</h6>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col id="learning" size="12">
        <div class="flag">
          <img src="../../assets/flags/united-states-of-america.png" alt="">
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="full">
          Ouvir
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="full" color="tertiary">
          Pronunciar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>